body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f5f5f5;
}

body p {
    color: rgb(0, 0, 0);
    font-size: medium;
}

header {
    display: flex;
    justify-content: space-between; /* menú a la izquierda, botón a la derecha */
    align-items: center;
    background-color: #2c3e50;
    padding: 10px 20px;
}

main {
    flex: 1;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #2c3e50;
    color: rgb(165, 190, 236);
    text-align: center;
    padding: 10px;
}

nav {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    text-decoration: none;
}

nav ul li {
    display: inline;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
}

nav a:hover {
    color: #83c5be;
}

.card {
    max-width: 600px;       /* mismo ancho para todos */
    margin: 20px auto;      /* centrado horizontal */
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.center-content{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-container {
    background-color: #ffffff;
    padding: 20px 30px ;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    align-items: center;
    text-align: left;
}

.form-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #006d77;
}

.form-container p {
    text-align: center;
    margin-bottom: 20px;
    color: #555;
}

.form-container label {
    display: block;
    width: 100%;
    margin-bottom: 6px;
    font-weight: bold;
    color: #333;
    text-align: left;
}

.form-container input {
    width: 100%;
    padding: 12px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0px 0px 8px 8px;
    font-size: 14px;
    margin-bottom: 18px;
}

.form-container input:focus {
    border-color: #006d77;
    outline: none;
    box-shadow: 0 0 6px rgba(0, 109, 119, 0.3);
}

.form-container button {
    width: 100%;
    padding: 12px;
    background-color:#2c3e50;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: #004d55;
}

.form-container a {
    color:#2c3e50;
    text-decoration: none;
    font-weight: bold;
}

.form-container a:hover {
    text-decoration: underline;
}

input,
button {
    padding: 15px 30px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: medium;
}

.cerrarSesion {
    background-color: #83c5be;
    color: #1d3557;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.cerrarSesion:hover {
    background-color: #006d77;
    color: white;
}

.error {
    color: #d9534f;
    font-size: 14px;
    margin-top: 5px;
    display: none;
}

p.error {
    color: #d9534f;
    margin: 0;
}

input:invalid~.error {
    display: block;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

.image-card {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    box-shadow: gray 0px 0px 10px;
    border-radius: 10px;
}

p {
    color: rgb(0, 0, 0);
    font-size: medium;
    text-align: justify;
    margin: 20px auto;
    max-width: 600px;
}